.nav {
  display: flex;
  flex-basis: 100%;
  justify-content: space-evenly;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  box-shadow: 0 4px 2px -2px #ddd;
}

.nav > li {
  text-align: center;
  padding: 10px 0;
  width: 120px;
  font-weight: bold;
  background-color: white;
  font-size: 1.1em;
}

.nav > li.selected {
  border-bottom: 3px solid #0099cc;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}